body{
    background-image: url(image/ices.jpg);
    background-size: 1400px 1200px;
}
.main{ 
    background-color: whitesmoke;
    width: 1000px;
    height: 1000px;
    background-color: rgb(255, 255, 255, .15);
}
.onval{
    font-size: 50px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: whitesmoke;
}
.name{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: whitesmoke;
}
.myButton{
    background-color: black;
    color: whitesmoke;
}